In [36]:
import pandas as pd
import requests

url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=10&e=Bitfinex"
f = requests.get(url)
ipdata = f.json()
df = pd.DataFrame(ipdata['Data'])

In [37]:
df.head()

     close     high     low     open        time  volumefrom      volumeto
0  10013.0  10199.0  9942.9  10197.0  1569024000     2979.88  2.994382e+07
1  10055.0  10105.0  9880.7  10013.0  1569110400     2752.45  2.752359e+07
2   9702.6  10077.0  9610.3  10055.0  1569196800     5486.04  5.396951e+07
3   8538.7   9795.0  8100.0   9702.6  1569283200    34867.70  3.079852e+08
4   8475.3   8773.6  8262.0   8538.7  1569369600    12765.89  1.082077e+08

In [38]:
def get_data(date):
    """ Query the API for 2000 days historical price data starting from "date". """
    url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=2000&toTs={}".format(date)
    r = requests.get(url)
    ipdata = r.json()
    return ipdata

In [39]:
def get_df(from_date, to_date):
    """ Get historical price data between two dates. """
    date = to_date
    holder = []
    # While the earliest date returned is later than the earliest date requested, keep on querying the API
    # and adding the results to a list. 
    while date > from_date:
        data = get_data(date)
        print(data)
        holder.append(pd.DataFrame(data['Data']))
        date = data['TimeFrom']
    # Join together all of the API queries in the list.    
    df = pd.concat(holder, axis = 0)                    
    # Remove data points from before from_date
    df = df[df['time']>from_date]                       
    # Convert to timestamp to readable date format
    df['time'] = pd.to_datetime(df['time'], unit='s')   
    # Make the DataFrame index the time
    df.set_index('time', inplace=True)                  
    # And sort it so its in time order 
    df.sort_index(ascending=False, inplace=True)        
    return df

In [40]:
def get_df(from_date, to_date):
    """ Get historical price data between two dates. """
    date = to_date
    holder = []
    # While the earliest date returned is later than the earliest date requested, keep on querying the API
    # and adding the results to a list. 
    while date > from_date:
        data = get_data(date)
        holder.append(pd.DataFrame(data['Data']))
        date = data['TimeFrom']
    # Join together all of the API queries in the list.    
    df = pd.concat(holder, axis = 0)                    
    # Remove data points from before from_date
    df = df[df['time']>from_date]                       
    # Convert to timestamp to readable date format
    df['time'] = pd.to_datetime(df['time'], unit='s')   
    # Make the DataFrame index the time
    df.set_index('time', inplace=True)                  
    # And sort it so its in time order 
    df.sort_index(ascending=False, inplace=True)        
    return df

In [42]:
#Get the data from the last 2 weeks.
def get_df_last_2_weeks():
    from_date = datetime.datetime.now()-datetime.timedelta(days=7)
    to_date = datetime.datetime.now()
    get_df(datetime.datetime.now()-datetime.timedelta(days=7), datetime.datetime.now())

In [43]:
from_date = datetime.datetime.now()-datetime.timedelta(days=7)
to_date = datetime.datetime.now()

In [46]:
df_last_2_weeks = get_df(from_date, to_date)

KeyError: 'TimeFrom'

In [17]:
df

       close      high     low      open        time  volumefrom      volumeto
0   10013.00  10199.00  9942.9  10197.00  1569024000     2979.88  2.994382e+07
1   10055.00  10105.00  9880.7  10013.00  1569110400     2752.45  2.752359e+07
2    9702.60  10077.00  9610.3  10055.00  1569196800     5486.04  5.396951e+07
3    8538.70   9795.00  8100.0   9702.60  1569283200    34867.70  3.079852e+08
4    8475.30   8773.60  8262.0   8538.70  1569369600    12765.89  1.082077e+08
5    8105.90   8493.07  7796.6   8475.30  1569456000    15408.93  1.251805e+08
6    8213.40   8309.80  7906.3   8105.90  1569542400     7469.15  6.020865e+07
7    8238.20   8390.00  8032.1   8213.40  1569628800     5447.13  4.460250e+07
8    8090.00   8260.20  7930.0   8238.20  1569715200     6143.56  4.945403e+07
9    8331.14   8385.00  7733.3   8090.00  1569801600    10919.75  8.783930e+07
10   8393.60   8539.30  8228.0   8331.14  1569888000     2708.61  2.284342e+07